$red: #ee6e73;
$custom-font: 'Comfortaa', cursive;
body {
  background: white;
}
a {
  color: $red;
  transition: all ease-in .2s;
  &:hover {
    color: #000;
  }
}
h1 {
  font-size: 2.6rem;
  color: $red;
  margin-left: 145px;
  line-height: 4rem;
}
h2 {
  font-size: 2.3rem;
}
h1, h2, h3, h4, h5 {
  font-family: $custom-font;
}
.title-row {
  margin-bottom: 0;
}
.title {
  margin-top: 20px;
  .logo {
    display: block;
    margin: 0 auto;
    width: 110px;
    height: auto;
  }
  .avatar {
    border-radius: 100%;
    width: 125px;
    height: auto;
    float: left;
    margin-top: -9px;
  }
  h1 {
    margin-top: 5px;
  }
}
ul {
  span {
    color: grey;
  }
}
.info-section > .col > ul { margin-top: 0;}
.marked-list {
  li {
    &:before {
      content: "\2022"; 
      color: $red; 
      font-weight: bold;
      display: inline-block;
      width: 1em; 
      margin-left: -1em; 
    }
  }
}